.connectionGrid {

     th:not(:first-child) {
        max-width: 100px;
        overflow-wrap: break-word;
        word-break: break-word;
        text-align: left !important;
        vertical-align: top;
        hyphens: auto;
        writing-mode: vertical-rl;
        max-height: 140px;
        transform: scale(-1, -1);
     }

    th:first-child {
        max-width: 100px;
        vertical-align: center;
    }
    
    tr > td:first-child {
        min-width: 100px;
        max-width: 140px;
        overflow-wrap: break-word;
        word-break: break-word;
        text-align: left;
        hyphens: auto;
    }
}