.connectionGrid {
  th:not(:first-child) {
    vertical-align: bottom;

    width: fit-content;
    white-space: nowrap;

    span {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      max-height: 100px;
    }
  }

  th:first-child {
    max-width: 100px;
    vertical-align: center;
  }

  tr > td:first-child {
    min-width: 100px;
    max-width: 140px;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
    hyphens: auto;
  }
}
